body{
  margin: 0;
  padding: 0;
font-family: 'Poppins', sans-serif;
}
header{
    background-color: rgba(255, 222, 173, 0.25);
    
}

.header-text{
   width: 50%;
   margin: 0 auto;
}
.header-text h1{
    font-size: 40px;
    /* font-weight: bolder; */
    display: flex;
    justify-content: center;
    
  }
  
  
  .header-text p{
    color:grey;
    font-size: small;
    padding-top: 0;
  }
.btn{
   display: flex;
   justify-content: center;
}
header img{
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
   width: 80%;
   margin-left: 140px ;
   }

@media screen and (max-width:576px){
    header img{
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
}
nav a {
    color: grey;
    text-decoration: none;
    margin-right: 40px;
    font-size: small;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;  
  margin: 0 auto;
}

.margin{
    margin-top: 30px;
}
@media screen and (max-width: 576px) {
    .margin{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 0px;
      
      
    }
    @media  screen and (max-width: 576px) {
        nav{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin-left: 40px;

        }
        
    }
    
}
.container{
   
    max-width: 1000px;
    margin: 0 auto;
}
.sizing{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.sizing img{
height: 40vh
}
h3{
    font-size: 30px;
   
}
.grey{
    color: gray;
}
.black{
    color: black;
    font-weight: bolder;
}
.orange{
    color: orange;
}
button{
    color: white;
    background-color: orange;
    padding: 15px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
}
.text-sizing{
    margin-left: 50px;
    margin-top: 110px;
   
}
.text-sizing p{
color: grey;
font-size: small;
padding-bottom: 10px;
}
.padding{
display: flex;
padding-top: 60px;
}
@media screen and (max-width: 576px){
   .sizing, .padding{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   } 
}
@media screen and (max-width: 576px){
   .sizing img{
    width: 100%;
    height: 100%;
   } 
}

.border h2{
    border-left: 5px solid orange;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 0;
    padding-left: 15px;
}
.display p{
    color: grey;
   font-size: small;
}
.display{
    margin-top: 90px;
    display: flex;
    column-gap: 70px;

}
@media screen and (max-width:576px) {
    .display{
        display: grid;
        grid-template-columns: 1, 1fr;
        row-gap:40px ;
    }
    .display img{
        width: 80%;
    }
   .border, .box-shadow{
    margin-left: 50px;
   } 
  
}
.display img{
    width: 100%;
}


.box{
/* background-color: beige; */
    height: 120px;
    width: 380px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px 0 lightgray;
}
.box h5{
 width: 300px;
 margin: 0 auto;
padding-top: 20px;
}
.box p{
    width:300px ;
    margin: 0 auto;
}
.icon-decoration{
    display: flex;
    justify-content: space-around;
    
}
.icon-decoration img{
    height: 35px;
    margin-top: 30px;
    margin-left: 40px;
    padding-bottom: 0;
}
.icon-decoration h1{
    margin-left: 30px;
    margin-top: 0;
    padding-top: 0;
}
.third-section h2{
    font-size: 30px;
}
.style{
    width: 60%;
    padding-bottom: 20px;
}
.img{
    border: 2px solid orange;
    border-radius: 7px;
    width: 150px;
    height: 170px;
    padding-left:30px;
    transition: width 7s;
    
}
.img:hover{
    width: 180px;
    background-color: skyblue;
    
}

/* .third-section{
    margin-top: 10px;
} */
.third-section p{
    color: grey;
    font-size: small;
    margin-left: 8px;
}
.img-decoration{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:576px){
    .img-decoration{
        display: grid;
        grid-template-columns: 1, 1fr;
       margin-left: 180px;
       
    }
}
@media screen and (max-width: 576px){
    .img-decoration img{
        margin-bottom: 20px;
    }
}
.img-decoration img{
    height: 35px;
    filter: grayscale(100%);
}
.text-decoration{
    width: 40%;
    margin: 0 auto;
}
.text-decoration h2{
    margin-left: 88px;
  
}
@media screen and (max-width:576px){
    .icon-decoration{
        display: grid;
        grid-template-columns: 1, 1fr;
    }
   .img{
    margin-bottom: 20px;
   } 
   .third-section-text{
    margin-left: 150px;
   }
}
.reveiws{
    display: flex;
    justify-content: space-around;
}
.reveiw{
    width: 200px;
    height: 350px;
    /* border: 2px solid orange; */
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 gray ;
}
.reveiw img{
    height: 200px;
    width: 200px;
    
}
.reveiw h4{
    padding-left:15px;
    margin-top: 0;
    margin-bottom: 0;

    
}
.rating a{
    color: orange;
}
.rating{
    margin-left: 15px;
}
.client h3{
   margin-top: 90px;
   margin-bottom: 30px;
   margin-left: 350px;
}
@media screen and (max-width:576px){
    .reveiws{
        display: grid;
        grid-template-columns: 1, 1fr;
        row-gap: 20px;
    }
    .reveiw{
        width: 100%;
        height: 100%;
        box-shadow: 0 2px 6px 0 gray ;
    }
    .reveiw img{
        width: 100%;
        
    }
    .client h3{
       width: 60%;
       margin: 0 auto;
       margin-top: 40px;
       margin-bottom: 30px;
    }
   .text-decoration h2{
    margin-left: 30px;
   } 
   
}
footer{
    background-color: rgba(255, 222, 173, 0.25) ;
    height: 80px;
    margin-top: 70px;
    margin-bottom: 100px;
    border-radius: 5px;
}
.footer p{
max-width: 50%;
margin: 0 auto;
padding-top: 30px;
   
   
}
.bonus-btn{
    padding: 25px ;
    background-color: rgba(255, 166, 0, 0.987);
    max-width: 20%;
    margin: 0 auto;
    border-radius: 7px;
 position: relative;
 bottom: 180px;
 left: 50px;
}
.font-size{
    font-size: 40px;
}
.bonus-btn a{
    text-decoration: none;
    color: white;
}
.bonus-btn-style{
   margin-left: 50px;
}
.sponsor{
    margin-top: 80px;
}